{% extends 'todoapp/base.html' %}
{% block content %}
<div class="container">
    <h1>About</h1>
  
    <p>Welcome to the Django Todo App!</p>
  
    <p>Our app is designed to help you manage your tasks and stay organized. Whether you're a student, professional, or simply someone with a busy schedule, our app provides an intuitive interface to create, update, and track your todo items.</p>
  
    <h2>Key Features:</h2>
    <ul>
      <li>Create and manage multiple todo lists.</li>
      <li>Add, edit, and delete tasks within each list.</li>
      <li>Mark tasks as complete and track your progress.</li>
      <li>Set due dates and receive reminders for important tasks.</li>
    </ul>
  
    <p>We strive to provide a user-friendly experience and ensure that our app meets your productivity needs. Feel free to explore the various features and start organizing your tasks efficiently.</p>
  
    <p>If you have any feedback or suggestions for improvement, please don't hesitate to reach out to us. We value your input and are committed to making the app better with each update.</p>
  
    <p>Thank you for choosing the Django Todo App!</p>
  </div>
  
{% endblock %}